<?xml version="1.0"?>
<launch>
    <!-- Prerequisite: sensor_filters -->
    <!-- http://wiki.ros.org/sensor_filters -->
    <node name="camera_filter" pkg="sensor_filters" type="pointcloud2_filter_chain" output="screen">
        <rosparam command="load" file="$(dirname)/kinect.yaml" />
        <remap from="~input" to="voxel_cloud" />
        <remap from="~output" to="points2_filter" />
    </node>
</launch>
